{{ range .Pages.GroupByParam "persons_statutes" }}
  <section>
    {{ with site.GetPage (printf "/persons_statutes/%s" (.Key | urlize)) }}
      <header class="heading"{{ partial "func/SetAnim" (dict "element" "heading") }}>
        <h2>{{ partial "func/PrepareHTML" .Title | pluralize }}</h2>
      </header>
    {{ end }}
    <div class="persons persons-large">
      {{ range .Pages }}
        <div>
          {{ partial "persons/item-large.html" . }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}