.heading
    margin-bottom: 0
    @include media-breakpoint-down(md)
        align-items: center
    .surtitle
        margin-bottom: 0
        text-align: center
    h1
        margin: auto
        text-align: center
        &::after  
            background-color: $border-color
            content: ""
            display: block
            height: 1px
            margin: $global-spacing auto
            width: 200px
    @include media-breakpoint-up(md)
        button
            bottom: 0
            position: absolute
            right: 0