.heading
    align-items: center;
    flex-direction: column
    text-align: center

    .surtitle
        flex: auto
        margin-bottom: 0
    h1
        &::after  
            background-color: $border-color
            content: ""
            display: block
            height: 1px
            margin: $global-spacing auto calc(#{$global-spacing} / 2)
            width: 200px

    @include media-breakpoint-up(md)
        button
            bottom: 0
            position: absolute
            right: 0