.heading
    @include margin-bottom($global-spacing)
    align-items: center !important
    flex-direction: column
    position: relative
    text-align: center
    text-wrap: balance
    > .container
        align-items: center !important

    &::after  
        @include margin-top($global-spacing)
        @include rfs(200px, "width")
        background-color: $border-color
        content: ""
        display: block
        height: 1px
        margin-left: auto
        margin-right: auto

    .surtitle
        flex: auto

    .btn-filter
        margin-left: auto
        margin-right: auto
        margin-top: 2rem

    @include media-breakpoint-up(md)
        .btn-filter
            margin: 0
            position: absolute
            right: 0
            top: 0

    @include media-breakpoint-up(xl)
        .surtitle
            left: 0
            position: absolute
            top: 0
