.home-page
    .block-editorial:first-of-type
        &,
        .media picture
            @include media-breakpoint-down(md)
                opacity: 1
                transform: none
                transition: none