.home-page
    .block-editorial:first-of-type
        &,
        .media picture,
        h2,
        .text
            @include media-breakpoint-down(md)
                opacity: 1
                transform: none
                transition: none